/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
  background-color:slategray;
}

.game {
  font-family: sans-serif;
  font-variant: small-caps;
}
.board {
  width: 500px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  row-gap: 10px;
}

.row {
  justify-content: space-evenly;
  height: 70px;
  align-content: space-evenly;
  display: grid;
  grid-template-columns: 10px 10px 10px 10px 10px;
  row-gap: 7px;
}

.tile {
  border: 3px double black;
  font-size: 15px;
  text-align: center;
  height: 50px;
  width: 50px;
  font-size: 40px;
  text-align: center;
  background-color: white;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  font-family: sans-serif;
  font-variant: small-caps;
  width: 70px;
  height:40px;
}

h1 {
  margin: 4px 0;
  font-size: 36px;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  position: relative;
}

.correct {
  background-color: #6aaa64 !important;
}

.wrongplace
 {
  background-color: #c9b458 !important;
}

.incorrect {
  background-color: #787c7e !important;
}
